.background{
    position: relative;
    z-index: -1;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    
    
  }
  .homevid{
    top: -20vh;
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

.search{
     position: absolute;
     width: 100vw;
     top: 30vh;
     
  }
  .search h1{
    color: var(--secondary-color);
    font-family: var(--heading-font-name);
    font-size: 7rem;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: black 10px 10px 20px;
    margin-bottom: -15px;

      }
  .search h2{
    color: white;
    font-family: var(--heading-font-name);
    font-size:3rem;
    text-align: center;
    text-shadow: black 5px 5px 10px;
    margin-bottom: 30px;

   

  }
  .services__subtitle{
    font-size: 1.7rem;
    color: var(--secondary-color);
    font-family: var(--heading-font-name);


  }

  .services__title{
    font-size: 2.2rem;
    font-family: var(--heading-font-name);
  }

  .featured__tour-title{
    font-size: 2.3rem;
    font-family: var(--heading-font-name);
    text-align: center;

  }

  .experience__content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-family: var(--heading-font-name);


  }
  
  .experience__content p{
    font-size: 1.1rem;
    font-family: var(--font-name);
    margin-top: 1rem;
  }

  .counter__wrapper{
    margin-top: 2.5rem;
  }

  .counter__box span{
    width: 65px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: white;
    font-size:1.4rem ;
    border-radius: 10px 5px 10px 5px;
    font-family: var(--heading-font-name);

  }

  .gallery__title{
    font-size: 2.3rem;
    font-family: var(--heading-font-name);
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    text-align:center;
  }

  .testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;
    font-family: var(--heading-font-name);
    text-align: center;
  }