.tour__img img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card{
    border: none;
    box-shadow: rgba(0,0,0,0.2) 0px 18px 50px -10px;
}

.tour__img{
    position: relative;
}
.tour__img span{
     position: absolute;
     bottom: 0;
     right: 0;
     width: max-content;
     height: max-content;
     z-index: 9;
     background-color:rgba(255, 0, 0, 0.844);
     color: white;
     padding: 0.3rem 0.5rem;
      border-radius: 7px 0  0 0;
}

.card__top span i{
    color: var(--secondary-color);
    font-size: 1rem;
}


.tour__rating{
    font-size: 0.9rem;
    color: black;
    font-family: var(--font-name);
}
.tour__location{
    font-family: var(--heading-font-name);
    font-size: 1rem;

}
.tour__title{
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-family: var(--font-name);
}
.tour__title a{
    text-decoration: none;
    color:black ;
    transition: .3s;
}
.tour__title a:hover{
    color:var(--secondary-color);
}

.card__bottom h5{
    color: var(--secondary-color);
    font-size:1.1rem;
    font-family: var(--font-name);
}

.card__bottom h5 span{
    color: black;
    font-family: var(--font-name);
    font-size:0.8rem ;


}

.booking__btn{
    cursor: pointer;
    padding: 0.2rem 0.5rem;

}

.booking__btn a{
    text-decoration: none;
    font-size: 0.9rem;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.2rem 0.5rem;
    font-family: var(--heading-font-name);

}

.booking__btn a:hover{
      color: black;
}