
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
  --primary-color: #ff7e01;
  --secondary-color: rgb(0, 223, 204);
  --text-color: #6e7074;
  --font-name:'Noto Serif', serif;
  --heading-font-name:"poppins" ;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  
}

section {
  padding: 50px 0px;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color:black;
}
.secondary__btn {
  background: transparent !important;
  border: none !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}

.secondary__btn a:hover {
  color:rgb(0, 223, 204);
}

/* .section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
} */

