header{
   
    position: fixed;
    width: 98vw;
    overflow: hidden;
    /* margin-top: 10px; */
    font-family: var(--heading-font-name);
    z-index: 10;
    
 }
 
.scrolled{
    background-color: rgba(0, 0, 0, 0.685);
} 

.logo{
    padding: 10px;
   
}
 
.logo span{
     margin: 5px;
    font-size: 1.6rem;
}

.navigation{
    margin-top: 15px; 
    font-size: 1.2rem;
}

.nav__items a{
    text-decoration: none;
    color: white;

}

.nav__items a:hover{
    color: rgb(0, 223, 204);
}

.nav__items a.active__link{
    color: rgb(0, 223, 204);
}

.mobile__menu{
    font-size: 1.3rem;
    color: white;
    display: none;
}

.masonry__img{
   transition: .3s; 

}

.masonry__img:hover{
    transform:scale(1.1);
}